.contacts{
  &-wrapper{
    justify-content: center;
    flex-direction: column;
    .deco{
        width:100%;
        height:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-left{
          width:100%;
          height:100%;
          position: relative;
          overflow: hidden;
          &-item{
            position: absolute;
            width:500px;
            height:500px;
            top:-100;
            border-radius: 50%;
            transform: translate(50%, 50%);
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-name: rota;
            animation-direction: linear;
            background: repeating-conic-gradient(#000 0 10deg, #39AECF 10deg 20deg);
          }
          
        }
    }
  }
}
.active-contacts{
  &-wrapper{
    flex-wrap: wrap;
    align-content: space-between;
    .deco1{
      right: -2%;
      top:-5%;
      width:5%;
      height:95%;
      .deco-inner{
        width:80%;
        height:100%;
        position: relative;
        overflow: hidden;
        &-item{
          width:100%;
          height:300%;
          animation:moveUp 40s linear 1s infinite;
          background: repeating-linear-gradient(
            45deg,
          #000,
          #000 10px,
          #39AECF 10px,
          #39AECF 20px
          );
        }
      }
    }
    .deco2{
      left:30%;
      bottom:-5%;
      width:2%;
      height:90%;
    }
    .deco3{
      width:7.5%;
      height:15%;
      top:-5%;
      left:-2%;
      display: flex;
      justify-content: center;
      align-items:center;
      .deco-inner{
        width:90%;
        height:90%;
        background: #fff;
        clip-path:circle(40% at 50% 50%);
        display: flex;
        justify-content: center;
        align-items:center;
        &-item{
          width:5%;
          height:60%;
          animation:clock 60s linear infinite;
          div{
            width:100%;
            height:50%;
            background: #000;
          }
        }
      }
    }
    h1{
      width:100%;
      text-align: center;
    }
    .socials, .form{
      height:85%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      h3{
        font-weight: 700;
        font-size:24px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin:50px 0;
      }
    }
    .form{
      width:55%;
      &-blocks{
        width: 100%;
        height:90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content:flex-start;
        &-inputs{
          width:45%;
          height:20%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin:0 0 40px;
          p{
            width:100%;
          }
          input, textarea{
            border:3px solid #fff;
            background: #000;
            color:#fff;
            line-height:34px;
            padding-left:10px;
            font-size: 24px;
          }
          textarea{
            width:100%;
            height:70%;
          }
        }
        &-inputs:nth-child(3){
          width:100%;
          height:40%;
        }
        &-inputs:nth-child(4){
          cursor: pointer;
          width:auto;
          height:auto;
          border: 1px solid #fff;
          border-radius: 15px;
          background: #000;
          padding:10px;
          
          p{
            color:#fff; 
            font-weight: 700;
            font-size:28px;
            font-family: 'Plus Jakarta Sans', sans-serif; 
          }
        }
      }
    }
    .socials{
      width:20%;
      div{
        width:70%;
        height:30%;
        display: flex;
        justify-content: space-between;
        align-items:center;
      }
      a{
        width:40%;
        height:45%;
        display: flex;
      }
      img{
        width:100%;
        height:100%;
        clip-path:circle(48% at 50% 50%);
      }
    }
  }
}
